/*import fonts from font.css*/

@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

/* global */

body {
    font-family: 'Recursive', sans-serif;
    font-size: 1.2rem;
}


/* Navbar */

.navbar a {
    color: white;
    text-transform: capitalize;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block!important;
}


/* news-items-list section */

.card {
    width: 100%!important;
    height: 25rem;
    overflow: hidden;
}

.card img {
    height: 12rem;
}

.card h4 {
    font-size: 1rem;
    font-weight: 800;
}

.post-source {
    font-size: 0.9rem;
}

.post-title {
    color: rgb(0, 0, 0);
}

.post-description p {
    font-size: 0.9rem;
}

.card a {
    color: rgb(0, 0, 0);
    ;
}

footer {
    border-top: 1px solid black;
    margin-top: 3rem;
    font-size: 0.9rem;
}

footer p {
    margin-top: 1rem;
}